.post-date {
  color: #7d8897;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 1rem;
}
h1 {
  font-size: 1.875rem;
  line-height: 1.33333 !important;
  margin-bottom: 1.875rem;
  letter-spacing: 0em;
}

.post-featured-image {
  width: 100%;
  height: auto;
  aspect-ratio: 970 / 646;
  margin-bottom: 1.875rem;
}
.post-featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main .post-content * {
  font-family: "SVN-Gilroy" !important;
}
#main .post-content h2 {
  margin-bottom: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.03em;
}

#main .post-content h3 {
  font-weight: 700;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

#main .post-content h3::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
}

#main .post-content h4 {
  margin-bottom: 1rem;
}

#main .post-content .message-box {
  padding: 1.875rem;
  background-color: rgb(244, 239, 236);
  margin-bottom: 1.5rem;
}
#main .post-content .message-box .message-box-bg-overlay {
  background-color: rgb(244, 239, 236);
}
#main .post-content .message-box .col {
  padding: 0;
}
#main .post-content .message-box .col * {
  margin-bottom: 0;
}
#main .post-content img {
  margin-bottom: 1.875rem;
}

#main ul li {
  list-style-position: inside;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 6vw;
  }
  h2,
  .h2,
  .banner h2.normal {
    font-size: 5vw;
  }
  h3 {
    font-size: 4.5vw;
  }
}
